<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<head th:replace="layout::blog-head">
    <title>Welcome_to_Coffee_Blog</title>
</head>

<!--Body_start-->
<body>
<header th:replace="layout::blog-header"></header>

<h1></h1>
<h1>Welcome_to_the_Coffee_Blog!</h1>
<h3>Here_You_can_talk, read, and_share_the_knowledge_about_coffee.</h3>

<aside>
    <h3>Recent_Posts</h3>
    <a href="#" th:each="p : ${latestFivePosts}" th:text="${p.title}"
       th:href="@{/posts/view/{id}/(id=${p.id})}"></a>
</aside>

<main id="posts">
    <article th:each="p:${latestPosts}">
        <h4 class="title" th:text="${p.title}">Post_Title</h4>
        <div class="dates">
            <i>Posted_on_</i>
            <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">03-JUN-2020</span>
            <span th:if="${p.author}" th:remove="tag">
          <i>by</i>
          <span th:text="${p.author.userName != null ?
                        p.author.userName : p.author.nickname}">John Jonathan</span>
        </span>
        </div>
        <p class="content" th:utext="${p.body}">Post_Content</p>
    </article>
</main>


<!--Footer-->
<footer th:replace="layout::blog-footer"></footer>

<!--Body_end-->
</body>

</html>