<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<head th:fragment="blog-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../public/css/styles.css"
          th:href="@{/css/styles.css}"/>
    <link rel="icon" href="../public/img/icon.png"
          th:href="@{/img/icon.png}"/>
    <script src="../public/js/jquery-3.1.0.min.js"
            th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script src="../public/js/blog-script.js"
            th:src="@{/js/blog-script.js}"></script>
    <meta th:include="this::head" th:remove="tag"/>
</head>

<!--Header-->
<header th:fragment="blog-header">

        <!--Header Logo-->
        <a href="homepage.html" th:href="@{/}">
            <img src="../public/img/logo.png" th:src="@{/img/logo.png}"/>
        </a>

        <!--Header Menu-->
        <a href="homepage.html" th:href="@{/}">Home_Page</a>
        <a href="post/homepage.html" th:href="@{/post}">Recent_Post</a>
        <a href="post/create.html" th:href="@{/post/create}">Create_Post</a>
        <a href="user/homepage.html" th:href="@{/user}">User_Page</a>
        <a href="user/sign-in.html" th:href="@{/user/sign-in}">Sign_In</a>
        <a href="user/register.html" th:href="@{/user/register}">Register</a>

        <!--Logged-in User's Greeting-->
        <div id="signed-in-user">
            <span>Nice_to_see_You, my_friend_<b>User</b>!</span>
            <form method="post" th:action="@{/user/sign-out}">
                <input type="button" value="Sign_Out">
            </form>
        </div>

<!--    Header inside header-->
    <header>

    <!--Notification messages-->
    <ul id='messages' th:with="messageList=${session[T(lt.codeacademy.personalblog.services.
    NotificationDao).NOTIFY_MESSAGE]}">

        <li th:each="message:${messageList}" th:text="${message.text}"
            th:class="${#strings.toLowerCase(message.type)}">
        </li>

        <span th:if="${messageList}" th:remove="all" th:text="${session.remove(
          T(lt.codeacademy.personalblog.services.NotificationDao).NOTIFY_MESSAGE)}"></span>
    </ul>

<!--     End of header inside header-->
    </header>

<!--    End of actual header-->
</header>

<!--Body part-->
<h1>Welcome_to_the_Coffee_Blog!</h1>
<h3>Here_You_can_talk, read, and_share_the_knowledge_about_coffee.</h3>

<!--Footer-->
<footer th:fragment="blog-footer">
    <div>Current_time: <a th:text="${execInfo.now.time}"></a>*
        <h5>*Anytime_is_coffee_time...</h5>
    </div>
    <p>&copy;Personal_Coffee_Blog_Application, 2020</p>
</footer>
</body>

</html>
