<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::blog-head">
    <title>Coffee_Blog</title>
</head>

<body>
<header th:replace="layout :: site-header"></header>
<main id="users">
    <table class="table table-bordered" width="50%" id="dataTable" cellspacing="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Author ID</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${post}">
            <td th:text="${post.id}">ID</td>
            <td th:text="${post.title}">Title</td>
            <td th:text="${post.body}">Content</td>
            <td th:text="${post.date}">Date</td>
            <td th:text="${post.author.id}">Author</td>
            <td><a href="edit.html" th:href="@{/post/edit/} + ${post.id}">Edit_Post</a><br/>
                <a href="delete.html" th:href="@{/post/delete/} + ${post.id}">Delete_Post</a></td>
        </tr>
        </tbody>
    </table>
</main>

<footer th:replace="layout::blog-footer"></footer>

</body>
</html>