<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::blog-head">
    <title>Coffee_blog</title>
</head>

<body>
<main id="users">
    <table class="table table-bordered" width="50%" id="dataTable" cellspacing="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nickname</th>
            <th>User_Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.nickname}">Nickname</td>
            <td th:text="${user.userName}">User_Name</td>
        </tr>
        </tbody>
    </table>
</main>

<footer th:replace="layout::blog-footer"></footer>

</body>
</html>