<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::blog-head">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<body>
<header th:replace="layout::blog-header"></header>
<h1></h1>
<h1>Blog_registration:</h1>

<form method="post" th:object="${registerForm}" th:action="@{/user/register}">
    <div>
        <label for="nickname">Nickname:</label>
    </div>
    <input id="nickname" type="text" name="nickname" th:value="*{nickname}"/>
    <span class="formError" th:if="${#fields.hasErrors('nickname')}"
          th:errors="*{nickname}">Inappropriate_nickname!</span>

    <div>
        <label for="password" th:value="*{nickname}">Password:</label>
    </div>
    <input id="password" type="password" name="password" th:value="*{password}" />
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Inappropriate_password!</span>

    <div><label for="userName">User_Name:</label></div>
    <input id="userName" type="text" name="userName" th:value="*{userName}"/>
    <span class="formError" th:if="${#fields.hasErrors('userName')}"
          th:errors="*{userName}">Inappropriate_user_name!</span>

    <div>
        <h6></h6>
        <input type="submit" value="Register"/>
        <a href="sigin.html" th:href="@{/user/signin}">Experienced_user? Sign_in!</a>
        <h1></h1>
    </div>
</form>

<footer th:replace="layout::blog-footer"></footer>

</body>
</html>