<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::blog-head">
    <meta charset="UTF-8">
    <title>Sign_In</title>
</head>
<body>

<header th:replace="layout::blog-header"></header>
<h1></h1>
<h1>Blog_sign_in:</h1>

<form method="post" th:object="${signInForm}">
    <div>
        <label for="nickname">Nickname:</label>
    </div>
    <input id="nickname" type="text" name="nickname" th:value="*{nickname}"/>
    <span class="formError" th:if="${#fields.hasErrors('nickname')}"
          th:errors="*{nickname}">Nickname_does_not_exist!</span>

    <div>
        <label for="password" th:value="*{nickname}">Password:</label>
    </div>
    <input id="password" type="password" name="password" th:value="*{password}" />
    <span class="formError" th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Not_matching_password!</span>

    <div>
        <h6></h6>
        <input type="submit" value="Sign_In"/>
        <a href="register.html" th:href="@{/user/register}">Newcomer?_Register!</a>
        <h1></h1>
    </div>
</form>

<footer th:replace="layout::blog-footer"></footer>

</body>
</html>