<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<head th:replace="layout::blog-head">
    <title th:text="${post.title}">Post</title>
</head>

<!--Body-->
<body>
<header th:replace="layout::blog-header"></header>

<h1>Delete_Post</h1>

<h3>Do_You_really_want_to_delete_this_post?</h3>

<form th:method="delete" th:object="${post}">
    <div><label for="title">Title:</label></div>
    <input id="title" th:readonly="true" disabled="disabled" type="text" name="title" th:value="*{title}"/>

    <div><label for="body">Content:</label></div>
    <textarea id="body" th:readonly="true" disabled="disabled" rows="5" th:field="*{body}"/>

    <div><label for="date">Date:</label></div>
    <input id="date" th:readonly="true" disabled="disabled" type="text" name="date" th:value="*{date}"/>

    <div><label for="post.author.id">Author:</label></div>
    <input id="post.author.id" th:readonly="true" disabled="disabled" type="text" name="author.id"
           th:value="*{author.id}"/>

    <div><input type="submit" value="Delete"/>
        <a href="post.html" th:href="@{/post}">Cancel</a></div>
</form>

<!--Footer-->
<footer th:replace="layout::blog-footer"></footer>

<!--Body_end-->
</body>
</html>