<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<head th:replace="layout::blog-head">
    <title th:text="${post.title}">Post</title>
</head>

<!--Body-->
<body>
<header th:replace="layout::blog-header"></header>

<h1>Edit_Post</h1>

<form th:action="@{/edit}" th:method="patch" th:object="${post}">
    <input type="hidden" id="id" th:field="*{id}"/>
    <input type="hidden" id="author.id" th:field="*{author.id}"/>
    <input type="hidden" id="author.nickname" th:field="*{author.nickname}"/>

    <div><label for="title">Title:</label></div>
    <input id="title" type="text" name="title" th:value="*{title}"/>
    <span class="formError" th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}">Invalid_title!</span>

    <div><label for="body">Content:</label></div>
    <textarea id="body" rows="7" th:field="*{body}"/>
    <span class="formError" th:if="${#fields.hasErrors('body')}"
          th:errors="*{title}">Invalid_content!</span>

    <div><input type="submit" value="Confirm_edit!"/>
        <a href="post.html" th:href="@{/post}">Cancel</a></div>
</form>

<!--Footer-->
<footer th:replace="layout::blog-footer"></footer>

<!--Body_end-->
</body>
</html>