<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<head th:replace="layout::blog-head">
    <title th:text="${post.title}">Post</title>
</head>

<!--Body-->
<body>
<header th:replace="layout::blog-header"></header>

<main id="posts">
    <article>
        <h4 class="title" th:text="${post.title}">Post_Title</h4>
        <div class="date">
            <i>Posted_on_</i>
            <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">03-JUN-2020</span>
            <span th:if="${post.author}" th:remove="tag">
          <i>by</i>
          <span th:text="${post.author.userName != null ?
                        post.author.userName : post.author.nickname}">John Jonathan</span>
        </span>
        </div>
        <p class="content" th:utext="${post.body}">Post_Content</p>
    </article>
</main>

<!--Footer-->
<footer th:replace="layout::blog-footer"></footer>

<!--Body_end-->
</body>
</html>