*{
margin-left: 0;
margin-right: 0;
margin-top:0;
font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body>header{
background: #dbc1ac;
height: 56px;
-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
}

body>header>a>img, body>header a{
display: inline-block;
padding: 0px 7px;
margin-bottom: -21px;
font-size: 18px;
text-decoration: none;
color:  #38220f;
height: 56px;
width: auto;
}

body>h1, body>h3{
text-align: center;
color: #38220f;
text-shadow: 0px 0px 5px rgba(56,24,15,0.07);
}

body>header>a:hover{
color: #170f0c;
text-shadow: 0px 7px 14px rgb(236,224,209);
text-decoration: overline;
}

body>footer {
background: #dbc1ac;
padding: 7px;
margin: 14px 0px;
text-align: center;
color:  #38220f;
-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
}


body>header:hover, body>footer:hover{
background: rgb(219, 193, 172, 0.7);
}

body>footer div{
margin-top: 7px;
size: 14px;
text-align: justify;
}

body>footer p{
margin-top: -49px;
margin-bottom: 14px;
}

#signed-in-user{
float: right;
margin-top: 21px;
font-size: 14px;
color:  #38220f;
}

#signed-in-user form{
display: inline-block;
margin-right: 14px;
}

body>aside {
float: right;
width: 280px;
height: 280px;
background: #ece0d1;
border-radius: 7px;
margin-left: 21px;
margin-right: 14px;
margin-top: 14px;
color:  #38220f;
-webkit-box-shadow: 7px 7px 29px 3px rgba(0,0,0,0.1);
box-shadow: 7px 7px 29px 3px rgba(0,0,0,0.1);
}

body>aside h3{
margin: 14px 10px 14px 7px;
text-align: center;
}

body>aside a {
display: block;
padding: 7px;
margin: 7px 0px;
color:  #38220f;
text-decoration: none;
}

body>main:after {
content: '';
display: block;
clear: both;
}

body>aside:hover{
background: rgb(236, 224, 209, 0.8);
}

body>aside a:hover{
color: #170f0c;
text-shadow: 0px 7px 14px rgb(236,224,209);
font-weight: bold;
}

ul#messages li{
display: block;
position: center;
width: 490px;
margin: 130px auto;
text-align: center;
padding: 7px;
border-radius: 7px;
border: solid #600a0a;
-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.7);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.7);
}

ul#messages li.info{
background: #7f7;
}

ul#messages li.error{
background: #600a0a;
color: #fde8e8;
border: solid #600a0a;
}

.formError{
color: #600a0a;
font-color: #fde8e8;
}

body>form {
margin-left: 450px;
margin-bottom: 490px;
padding: 350px;
size: 21px;
color: #38220f;
}

body>form>label{
padding-top: 14px;
}

body>form a{
size: 14px;
text-decoration: none;
color: #38220f;
}

body>form a:hover{
font-weight: bold;
}